*{
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    height: 100%;
}

body{
height: 100%;
display: flex;
}

h1{
    font-size:larger;
    font-style:normal;
    color: rgb(230, 100, 70);
}

p{
    font-size: 10px;
}

.leftBar{
    background-color:rgb(230, 100, 70);
    position:fixed;
    left: 0%;
    top: 0%;
    padding-left: 2%;
    padding-top: 2%;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    height: 100%;
    width: 20%;
}
.leftBarButtons{
    background-color:rgb(230, 100, 70);
    color: white;
    border: 0cap;
    font-size: 100%;
    margin-top: 8%;
    
}

.leftBarButtons:hover{
    background-color: white;
    color: rgb(230, 100, 70);
    border-radius: 10px;
}

.rightBar{
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    padding: 5px;
}
.showcase{
    font-size: large;
    color: rgb(230, 100, 70)
}

.contact{
    width: 100%;
    height: auto;
}

form{
    width: 100%;
    height: auto;
    padding-top: 15px;
    padding-left: 0px;
    display: flex;
    align-items:self-start;
    flex-direction: column;
    font-size: 10px;

}

label{
    width: auto;
    text-align: right;
    margin-top: 5px;
}

form input{
    width: inherit;
    height: 4%;
    text-align: center;
}

#submitButton{
    color: white;
    background-color: rgb(212, 19, 19);
    margin-top: 2%;
}

img{
    height: 100%;
    width: 100%;
}

table{
    width: auto;
    padding: 0px;
    display: flex;
    justify-content: space-around;
}

table td{
    padding: 5px;
    background-color: rgb(230, 40, 40);
}

ul{
    padding: 0%;
}

ul li{
    height: 150px;
    width: 30%;
    display: inline-block;
}

h6{
    color: rgba(133, 114, 114, 0.678);
}

#packageTable{
    text-align: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 0px;
}

#packageTable td{
    background-color: white;
}

th{
    font-size: large;
    color: antiquewhite;
    width: 500px;
    height: 40px;
}

td{
    background-color: rgb(126, 118, 118);
    font-size: 12px;
}

#thankYouBasic , #thankYouPro{
    visibility:hidden;
}

hr{
    font-size: 200%;
    margin-left: 0px;
    height: 5px;
    width: 5%; 
    border-color: rgb(230, 100, 70);
    border-radius: 150px; 
    background-color: rgb(230, 100, 70)
}
